<ng-container>
  <div class="p-top-header ui-g ui-fluid">
    <div class="left-logo ui-lg-2 ui-md-3 ui-sm-12" >
      <h1>djlxs-ng2-admin</h1>
    </div>
    <div class="right-bar  ui-lg-10 ui-md-9 ui-sm-12 ui-g ui-fluid">
      <div class="ui-g-1">
        <i class="fa fa-list"></i>
      </div>
      <div class="field search-box-wrap ui-g-2">
        <div class="control  has-icons-right">
          <input class="input is-success" type="text" placeholder="Text input">
          <span class="icon is-small is-right">
          <i class="fa fa-search"></i>
        </span>
        </div>
      </div>
      <div class="ui-g-1">
        <i class="fa fa-envelope"></i>
      </div>
      <div class="ui-g-1"></div>
    </div>
  </div>
</ng-container>
