@import "../../../common/stylus/global.styl"
.p-top-header
  width: 100%
  height: $top-header-height
  background: $top-header-background-color
  .right-bar
    align-items: center
    .search-box-wrap
      width: 200px
    .field:not(:last-child)
        margin-bottom: 0;
