.ui-inputgroup {
  padding: 20px;
  .text-input {
    width: 100%;
    outline: none;
    text-indent: 1rem;
  }
  .login-wrap {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fast-login {
    .fast-item{
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 10px;
      border-radius: 100%;
      overflow: hidden;
    }
  }
  .forgot-password {
    color: lightcoral;
    &:hover{
      text-decoration: underline;
    }
  }
}

