@import '../common/stylus/global.styl'
.p-wrap
  .p_home_left_bar
    padding: 0
    background: $left-bar-background
  .p-right-part
    box-sizing border-box
    border: 2px solid lightblue
.ui-state-default
    background: $left-bar-background !important

