/deep/ .nodetext {
  font-size: 12px ;
  font-family: SimSun;
  fill:#000000;
}
/deep/ .linetext {
  font-size: 12px ;
  font-family: SimSun;
  fill:#1f77b4;
  fill-opacity:0.0;
}
/deep/ .circleImg {
  stroke: #ff7f0e;
  stroke-width: 1.5px;
}
