/******全局样式配置*********/

/*
  header部分
  $top-header-height header 高度
  $top-header-background-color  背景颜色
*/
$top-header-height = 50px
$top-header-background-color = #1582DC

/*
左边Menu
left-bar-background  背景颜色
*/
$left-bar-background = #4F5061
