@import "../../../common/scss/global.scss";
$searchHeight: 30px;
.p-top-header{
  width: 100%;
  height: $top-header-height;
  background: $top-header-background-color;
  .left-logo{
    background-color: #E5E5E5;
  }
  .right-bar{
    justify-content: space-between;
    .search-input-wrap{
      width: 200px;
    }
  }
}
